
/* Set a background image by replacing the URL below */
body {
    background: url('/assets/img/bg_c.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }

  /* .body {
    background-image: url('/assets/img/bg_a.jpg'), url('assets/img/bg_b.jpg');
    background-position: right, left;
    background-repeat: no-repeat, no-repeat;
} */